mixin tag(options)

  -var tagBlockName = "tag"
  -var tagElemName = "tag__tag-name"
  -var tagElemDescription = "tag__tag-description"

  if options.size
    -tagBlockName += " tag_size_" + options.size

  if options.font
    -tagElemDescription += " tag__tag-description_font_" + options.font

  if options.opacity
    -tagElemDescription += " tag__tag-description_opacity_" + options.opacity

  if options.weight
    -tagElemDescription += " tag__tag-description_weight_" + options.weight

  if options.transform
    -tagElemName += " tag__tag-name_transform_" + options.transform

  div(class=tagBlockName)
    span(class=tagElemName)= options.tagName
    //span(class=tagDescription)= options.tagDescription
    span(class=tagElemDescription)= options.tagDescription

    
//mixin tag(options)
//
//  -var className = "tag tag_size_" + options.size
//
//  div(class=className)
//    span.tag-name= options.tagName
//    span.tag-description= options.tagDescription
